{% extends 'base.html.twig' %}

{% block title %}fiche produit{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex mt-5">
        <div>
            <img class="" src="{{ produit.photos }}" alt="photos du produit">
        </div>
        <div class="d-flex flex-column justify-content-between">
            <h2 class="d-flex justify-content-center ">{{ produit.nom }}</h2>
            <p class="d-flex justify-content-center ml-5 ">{{ produit.description }}</p>
            <span class="badge badge-danger badge_prix">{{ produit.prix }} euros</span>
        </div>
    </div>
</div>

{% endblock %}